version: '3'
services:
  '5.7-utf8':
    build:
      context: '5.7'
      args:
        - CHARASET=utf8
    image: darmats/mysql:5.7-utf8
    volumes:
      - ./5.7/logs/utf8:/var/log/mysql
  '5.7-utf8mb4': &57default
    build:
      context: '5.7'
      args:
        - CHARASET=utf8mb4
    image: darmats/mysql:5.7-utf8mb4
    volumes:
      - ./5.7/logs/utf8mb4:/var/log/mysql
  '5.7':
    <<: *57default
    image: darmats/mysql:5.7
